@using Irrelephant.DnB.Core.Cards

<div 
    class="noselect card rounded-card @_selectionClass"
    @ondragstart="HandleDragStart"
    draggable="true"
>
    <span class="energy-cost">@Card.ActionCost</span>
    <p class="card-name">@Card.Name</p>
    <div class="graphic">
        <img draggable="false" src="img/@(Card.Id).png" />
    </div>
    <p class="text">
        @Card.Text
    </p>
</div>

@code
{

    private string _selectionClass = string.Empty;

    [Parameter]
    public Card Card { get; set; }

    [CascadingParameter]
    public ControlSurface ControlSurface { get; set; }

    public void ToggleSelection()
    {
        if (string.IsNullOrEmpty(_selectionClass))
        {
            _selectionClass = "active";
        }
        else
        {
            _selectionClass = string.Empty;
        }
    }

    private void HandleDragStart(DragEventArgs dragEvent)
    {
        dragEvent.DataTransfer.DropEffect = "move";
        dragEvent.DataTransfer.EffectAllowed = "move";
        Console.WriteLine(Card.Name + " is dragged!");
        ControlSurface.PlayedCard = Card;
    }
}
