<div class="combat-view">
    <div class="character-row attackers">
        @foreach (var attacker in Combat.Attackers)
        {
            <CharacterView Character="attacker.Character" />
        }
    </div>

    <div class="character-row defenders">
        @foreach (var defender in Combat.Defenders)
        {
            <CharacterView Character="defender.Character" />
        }
    </div>
</div>