<div class="control-surface">
    <div class="hand-view" onb>
        @{ int index = 0; }
        @foreach (var card in Player.Hand)
        {
            <div class="rotate-container @GetRotationStyle(index)">
                <CardView Card=card />
            </div>
            index++;
        }
    </div>

    <button @onclick="EndTurn">END TURN</button>
</div>