@if (Combat != null)
{
    <div class="game-console">
        @foreach (var message in Combat.Log.Messages)
        {
            <p>@message</p>
        }
    </div>

    <button @onclick="EndTurn">END TURN</button>
}