@page "/"
@using Irrelephant.DnB.Client.Shared
@inject NavigationManager Navigation

@if (IsReady)
{
    //<ControlSurface Combat=_combat Controller=_pc>
        <CombatView Combat=_combat />
    //</ControlSurface>
}
else
{
    <p>Still loading...</p>
}