@page "/{combatId}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<LoginDisplay/>

@if (IsReady)
{
    <ControlSurface CombatId=_verifiedCombatId.Value/>
}
else
{
    <p>Still loading...</p>
}