@page "/"
@using Irrelephant.DnB.Client.Components

@if (IsReady)
{
    <ControlSurface Combat=_combat Controller=_player>
        <CombatView Combat=_combat />
    </ControlSurface>
}
else
{
    <p>Still loading...</p>
}