@page "/"
@using Irrelephant.DnB.Client.Components

<h1>Dungeons & Browsers</h1>
@if (_isReady)
{
    <CombatView Combat=_combat/>
    <ControlSurface Combat=_combat Controller=_player/>
}
else
{
    <p>Still loading...</p>
}