@page "/"
@using Microsoft.AspNetCore.Components
@inject NavigationManager Navigation

@if (IsReady)
{
    <ControlSurface Combat=_combat>
        <CombatView Combat=_combat />
    </ControlSurface>
}
else
{
    <p>Still loading...</p>
}