@page "/"
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager Navigation

@attribute [Authorize]

<LoginDisplay/>

@if (IsReady)
{
    <ControlSurface Combat=_combat>
        <CombatView Combat=_combat />
    </ControlSurface>
}
else
{
    <p>Still loading...</p>
}