@using Irrelephant.DnB.Core.Cards

<div class="noselect card rounded-card @_selectionClass"
     @ref="CardComponentReference"
     @ondragstart="HandleDragStart"
     @onclick="HandleClick"
     draggable="true">
    <span class="energy-cost">@Card.ActionCost</span>
    <p class="card-name">@Card.Name</p>
    <div class="graphic">
        <img draggable="false" src="img/@(Card.GraphicId).png" />
    </div>
    <p class="text">
        @Card.Text
    </p>
</div>

@code
{

    private string _selectionClass = string.Empty;

    [Parameter]
    public Card Card { get; set; }

    public ElementReference CardComponentReference;

    [CascadingParameter]
    public ControlSurface ControlSurface { get; set; }

    public void ToggleSelection()
    {
        if (string.IsNullOrEmpty(_selectionClass))
        {
            _selectionClass = "active";
        }
        else
        {
            _selectionClass = string.Empty;
        }
    }
    
    private void HandleDragStart(DragEventArgs dragEvent)
    {
        dragEvent.DataTransfer.DropEffect = "move";
        dragEvent.DataTransfer.EffectAllowed = "move";
        ControlSurface.PlayedCard = Card;
    }

    private void HandleClick()
    {
        ControlSurface.CardClicked(Card);
    }
}
