@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.combat-view {
    display: flex;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 10px 10px;
}

.character-row {
    display: flex;
}

.character-row.attackers {
    flex-direction: row-reverse;
}

.character-row.defenders {
    flex-direction: row;
}

.select-defender .defenders .character {
    box-shadow: 0 0 10px 10px red;
    z-index: 100500;
}

.select-attacker .attackers .character {
    box-shadow: 0 0 10px 10px red;
    z-index: 100500;
}

.character {
    position: relative;
    height: 230px;
    padding: 5px 10px 10px 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background: rosybrown;
    margin: 0 5px;
}

    .character .character-name {
        margin-bottom: 3px;
        padding-left: 5px;
        font-weight: 500;
        text-align: center;
    }

.character .armor {
    bottom: 5px;
    position: absolute;
    left: 10px;
    margin: 0;
    color: darkblue;
}

    .character .armor .armor-total {
        font-size: 22px;
        font-weight: 700;
    }

.character .health {
    bottom: 5px;
    position: absolute;
    right: 10px;
    margin: 0;
    color: darkred;
}

    .character .health .health-total {
        font-size: 22px;
        font-weight: 700;
    }

    .character .health .health-max {
        font-size: 16px;
        font-weight: 400;
    }


.character .graphic {
    border: 1px solid black;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

    .character .graphic img {
        width: 150px;
        border-radius: 10px;
        -webkit-object-fit: cover;
        object-fit: cover;
        height: 100px;
    }

.rounded-card {
    -ms-border-radius: 15px;
    border-radius: 15px;
}

.action-prompt {
    text-align: center;
    font-size: 36px;
    margin: 50px;
}

.control-surface {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

    .control-surface .hand-view {
        display: flex;
        bottom: 0;
        width: 100%;    
        -o-justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        height: 300px;
        align-items: flex-end;
        overflow: hidden;
        transition: bottom 0.2s;
    }

    .hand-view.select-defender,
    .hand-view.select-attacker {
        bottom: -300px;
        position: absolute;
    }

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-play-area {
    width: 100%;
    flex-grow: 1;
}

.control-surface .actions-display {
    position: absolute;
    bottom: 50px;
    left: 20px;
    padding: 30px;
    background: gold;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: white;
    display: flex;
    align-items: flex-end;
}

    .control-surface .actions-display .actions-total {
        font-size: 34px;
        font-weight: 700;
    }

.combat-view .character .intent-text {
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

body {
    background-image: url(/img/bg.png);
    background-position-x: center;
}